.navbar-fll {
    background-color: #205886 !important;
    border-top: 8px #c61e21 solid !important;
    color: #ffffff !important;
}

.navbar-brand-fll {
    color: white !important;
}

.navbar-toggler-icon {
    color: #000000 !important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 2;
    background-color: rgba(255,255,255,50) !important;
    color: #1b1e21 !important;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

#navbarDropdown {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

#div1 {
    display: inline-block;
}

.fll-spacer {
    height: 20px;
}
.fll-beside {
    display: inline-block;
}

.fll-right {
    float: right;
}

.fll-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.fll-footer-content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.fll-footer-logo {
    height: 60px;
}

.radio-toolbar {
    margin: 1px;
}

.fll-center-emmit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #65a6da;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #65a6da;
}

.radio-toolbar input[type="radio"]:focus + label {
    /*border: 2px dashed #65a6da;*/
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #2f81c4;
}

.scoreform-spacer{
    margin-top: 20px;
}

.hideError{
    display: none !important;
}

.fll-error{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

